<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
</head>
<body>
    <h1>{{ message }}</h1>
    <ul>
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    
    <div class="date-picker">
        <input type="text" id="startDate" placeholder="시작일">
        <input type="text" id="endDate" placeholder="종료일">
    </div>
    
    <button onclick="getData('regionCd')">서울특별시 시 코드 가져오기</button>
    <button onclick="getData('aptRealEstate')">아파트 실거래가 가져오기</button>
    <div id="result"></div>

    <script>
        $(document).ready(function() {
            // datepicker 초기화
            $("#startDate, #endDate").datepicker({
                dateFormat: 'yyyymm',  // YYYYMM 형식
                changeMonth: true,
                changeYear: true,
                changeDay: false,
                onClose: function(dateText, inst) {
                    $(this).datepicker('startDate', String(inst.selectedYear) + String(Number(inst.selectedMonth) + 1));
                }
            });
        });

        var result = '';
        function getData(type) {
            var url = '';
            var params = {};
            
            if (type === 'regionCd') {
                url = '/get-stan-region-cd/';
            } else if (type === 'aptRealEstate') {
                url = '/get-apt-real-estate/';
                params = {
                    startDate: $('#startDate').val(),
                    endDate: $('#endDate').val()
                };
            }

            $.ajax({
                url: url,
                method: 'GET',
                data: params,
                success: function(response) {
                    if (response.status === 'success') {
                        $('#result').html(JSON.stringify(response.data, null, 2));
                        
                        //행 길이
                        console.log('행 길이: ' + response.data.length);
                        //컬럼 길이
                        console.log('컬럼 길이: ' + Object.keys(response.data[0]).length);
                        //#result에 표 그리기
                        var table = '<table><tr>';
                        for (var i = 0; i < Object.keys(response.data[0]).length; i++) {
                            table += '<th>' + Object.keys(response.data[0])[i] + '</th>';
                        }
                        table += '</tr>';
                        for (var i = 0; i < response.data.length; i++) {
                            table += '<tr>';
                            for (var j = 0; j < Object.keys(response.data[i]).length; j++) {
                                table += '<td>' + response.data[i][Object.keys(response.data[i])[j]] + '</td>'; 
                            }
                            table += '</tr>';
                        }
                        table += '</table>';
                        $('#result').html(table);
                    } else {
                        $('#result').html('에러: ' + response.message);
                    }
                },
                error: function(error) {
                    $('#result').html('에러 발생: ' + error.responseText);
                },
                complete: function() {
                    $('button').prop('disabled', false);
                }
            });
        }
    </script>
</body>
</html>